Repository jackkenn/Cacyno: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, autoDeploy, android-build, android-test

maven-build:
  stage: mavenbuild
  tags:
  - springboot_tag
  script:
  - cd Backend
  - mvn package -B

maven-test:
  stage: maventest
  tags:
  - springboot_tag
  script:
  - cd Backend
  - mvn test
  artifacts:
    paths:
    - Backend/target/*.jar

autoDeploy:
  stage: mavenDeploy
  tags:
  - springboot_tag
  script:
  - cd Backend
  - mvn package
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: javiersantos/android-ci:latest
  stage: androidbuild
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/gradlew
  tags:
  - android_tag
  script:
  - cd Frontend/
  - ./gradlew build
  artifacts:
    paths:
    - Android_test/app/build/outputs/

android-test:
  image: javiersantos/android-ci:latest
  stage: androidtest
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/gradlew
  tags:
  - android_tag
  script:
  - cd Frontend/
  - ./gradlew test

Update .gitlab-ci.yml to target main instead of master
  .gitlab-ci.yml
Due: none

need to see why spring-boots says websockets are deploying to the same endpoints and breaking it
  Backend/application.log
  Backend/application.log.2021-11-03.0.gz
  Backend/application.log.2021-11-06.0.gz
  Backend/src/main/java/com/_2_ug_1/cacyno/game/Poker.java
  Backend/src/main/java/com/_2_ug_1/cacyno/websockets/PokerEndpoint.java
Due: maven-build, maven-test, autoDeploy

removing this fixes it
  Backend/src/main/java/com/_2_ug_1/cacyno/config/WebSocketConfig.java
Due: maven-build, maven-test, autoDeploy

recreated poker functionality as web socket
  Backend/src/main/java/com/_2_ug_1/cacyno/game/Poker.java
  Backend/src/main/java/com/_2_ug_1/cacyno/repos/IUserRepo.java
  Backend/src/main/java/com/_2_ug_1/cacyno/websockets/PokerEndpoint.java
Due: maven-build, maven-test, autoDeploy

works. ready for web socket
  Frontend/app/src/main/java/Models/Lobby.java
  Frontend/app/src/main/java/Models/User.java
  Frontend/app/src/main/java/Models/UserOperations.java
  Frontend/app/src/main/java/com/example/demo1/CreateGame.java
  Frontend/app/src/main/java/com/example/demo1/LobbySelector.java
  Frontend/app/src/main/res/layout-land/chat_view.xml
  Frontend/app/src/main/res/layout/chat_row.xml
Due: android-build, android-test

add a couple more things to hand checker
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandChecker.java
Due: maven-build, maven-test, autoDeploy

finished some callback fixes
  Frontend/app/src/main/java/com/example/demo1/MainActivity.java
  Frontend/app/src/main/java/com/example/demo1/Settings.java
  Frontend/app/src/main/java/com/example/demo1/UserHome.java
  Frontend/app/src/main/java/com/example/demo1/Username.java
  Frontend/app/src/main/res/layout/create_username_screen.xml
Due: android-build, android-test

some edits
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/Models/User.java
  Frontend/app/src/main/java/Models/UserOperations.java
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
  Frontend/app/src/main/java/com/example/demo1/Login.java
  Frontend/app/src/main/java/com/example/demo1/MainActivity.java
  Frontend/app/src/main/java/com/example/demo1/Settings.java
  Frontend/app/src/main/java/com/example/demo1/UserHome.java
  Frontend/app/src/main/java/com/example/demo1/Username.java
  Frontend/app/src/main/res/layout-land/game_screen.xml
Due: android-build, android-test

almost done with revamping handchecker
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandChecker.java
  Backend/src/main/java/com/_2_ug_1/cacyno/models/Card.java
Due: maven-build, maven-test, autoDeploy

fixing when joining game
  Frontend/app/src/main/java/com/example/demo1/LobbySelector.java
  Frontend/app/src/main/res/drawable/background_join_money.png
  Frontend/app/src/main/res/drawable/join_enter.png
  Frontend/app/src/main/res/layout-land/game_screen.xml
  Frontend/app/src/main/res/layout/create_game.xml
  Frontend/app/src/main/res/layout/enter_game_money.xml
  Frontend/app/src/main/res/layout/game_screen.xml
  Frontend/app/src/main/res/layout/lobby_row.xml
  Frontend/app/src/main/res/layout/lobby_selector_screen.xml
Due: android-build, android-test

chat screen works and when joining a game, it will ask you for an amount to bring in.
  Frontend/app/src/main/java/com/example/demo1/CreateGame.java
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
  Frontend/app/src/main/java/com/example/demo1/LobbySelector.java
  Frontend/app/src/main/res/drawable/chat_but.png
  Frontend/app/src/main/res/drawable/send.png
  Frontend/app/src/main/res/layout-land/chat_view.xml
  Frontend/app/src/main/res/layout-land/game_screen.xml
  Frontend/app/src/main/res/layout/chat_view.xml
  Frontend/app/src/main/res/layout/enter_game_money.xml
  Frontend/app/src/main/res/layout/game_screen.xml
Due: android-build, android-test

finished HandChecker and the comparator
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandChecker.java
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandComparator.java
Due: maven-build, maven-test, autoDeploy

finished HandChecker and the comparator
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandChecker.java
Due: maven-build, maven-test, autoDeploy

actually finished HandChecker and the comparator
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandChecker.java
Due: maven-build, maven-test, autoDeploy

started web sockets
  Backend/application.log
  Frontend/app/build.gradle
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
Due: maven-build, maven-test, autoDeploy, android-build, android-test

added java doc
  Frontend/app/src/main/java/Utilities/AccountChecker.java
  Frontend/app/src/main/java/Utilities/AccountCreation.java
  Frontend/app/src/main/java/com/example/demo1/ActivityLogin.java
  Frontend/app/src/main/java/com/example/demo1/CreateGame.java
  Frontend/app/src/main/java/com/example/demo1/LobbySelector.java
  Frontend/app/src/main/java/com/example/demo1/MainActivity.java
  Frontend/app/src/main/java/com/example/demo1/Settings.java
  Frontend/app/src/main/java/com/example/demo1/UserHome.java
  Frontend/app/src/main/java/com/example/demo1/Username.java
  Frontend/app/src/main/java/interfaces/ILobby.java
  Frontend/app/src/main/java/interfaces/IUser.java
Due: android-build, android-test

wait
  Frontend/app/src/main/java/Models/UserOperations.java
  Frontend/app/src/main/java/Utilities/GameCreation.java
Due: android-build, android-test

added javadocs
  Frontend/app/src/main/java/Models/User.java
  Frontend/app/src/main/java/Models/UserOperations.java
  Frontend/app/src/main/java/Utilities/GameChecker.java
  Frontend/app/src/main/java/Utilities/GameCreation.java
Due: android-build, android-test

fix merge conflicts
  Frontend/app/src/main/java/com/example/demo1/Username.java
Due: android-build, android-test

Fix Javadocs
  Documents/Frontend_Javadocs.zip
Due: none

Delete Frontend_Javadocs.zip
  Documents/Frontend_Javadocs.zip
Due: none

java doc
  Frontend/app/src/main/java/Models/Lobby.java
  Frontend/app/src/main/java/Models/LobbyOperations.java
Due: android-build, android-test

trying to fix chat
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
  Frontend/app/src/main/java/com/example/demo1/Login.java
  Frontend/app/src/main/res/layout-land/chat_view.xml
  Frontend/app/src/main/res/layout-land/game_screen.xml
Due: android-build, android-test

completely works now.
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
  Frontend/app/src/main/res/layout-land/game_screen.xml
  Frontend/app/src/main/res/layout/game_screen.xml
Due: android-build, android-test

user can send messages. but not on websockets yet.
  Backend/application.log
  Frontend/app/src/main/java/Models/Lobby.java
  Frontend/app/src/main/java/Models/User.java
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
  Frontend/app/src/main/java/interfaces/IUser.java
  Frontend/app/src/main/res/layout/chat_row.xml
Due: maven-build, maven-test, autoDeploy, android-build, android-test

chat looks good now
  Backend/application.log
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
  Frontend/app/src/main/res/layout-land/chat_view.xml
  Frontend/app/src/main/res/layout/chat_row.xml
  Frontend/app/src/main/res/layout/chat_view.xml
Due: maven-build, maven-test, autoDeploy, android-build, android-test

up-to-date with source
  Backend/application.log
Due: maven-build, maven-test, autoDeploy

chat fully works with websockets
  Backend/application.log
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
Due: maven-build, maven-test, autoDeploy, android-build, android-test

disconnect from websocket if backs out
  Backend/application.log
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
Due: maven-build, maven-test, autoDeploy, android-build, android-test

leaderboard done.
  Frontend/app/src/main/AndroidManifest.xml
  Frontend/app/src/main/java/Models/User.java
  Frontend/app/src/main/java/com/example/demo1/Leaderboard.java
  Frontend/app/src/main/java/com/example/demo1/UserHome.java
  Frontend/app/src/main/res/layout/leaderboard_row.xml
  Frontend/app/src/main/res/layout/leaderboard_view.xml
Due: android-build, android-test

added comments, java docs, unit test
  Backend/application.log
  Backend/pom.xml
  Backend/src/main/java/com/_2_ug_1/cacyno/config/SpringFoxConfig.java
  Backend/src/main/java/com/_2_ug_1/cacyno/config/WebSocketConfig.java
  Backend/src/main/java/com/_2_ug_1/cacyno/game/Poker.java
  Backend/src/main/java/com/_2_ug_1/cacyno/websockets/ChatEndpoint.java
  Backend/src/main/java/com/_2_ug_1/cacyno/websockets/PokerEndpoint.java
  Backend/src/test/java/com/_2_ug_1/cacyno/Game_Service_Test.java
  Backend/src/test/java/com/_2_ug_1/cacyno/Poker_Test.java
Due: maven-build, maven-test, autoDeploy

up to date with main
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
Due: android-build, android-test

up to date with main
  Frontend/app/src/main/java/Models/User.java
Due: android-build, android-test

use remote server for chat
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
Due: android-build, android-test

descending and ascending order for
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
  Frontend/app/src/main/java/com/example/demo1/Leaderboard.java
  Frontend/app/src/main/res/layout/enter_game_money.xml
  Frontend/app/src/main/res/layout/leaderboard_view.xml
Due: android-build, android-test

refractor some code
  Frontend/app/src/main/java/com/example/demo1/CreateGame.java
  Frontend/app/src/main/java/com/example/demo1/LobbySelector.java
  Frontend/app/src/main/java/com/example/demo1/Login.java
  Frontend/app/src/main/java/com/example/demo1/MainActivity.java
  Frontend/app/src/main/java/com/example/demo1/Settings.java
  Frontend/app/src/main/java/com/example/demo1/Username.java
Due: android-build, android-test

auto scroll for chat actually works now
  Frontend/app/src/main/java/com/example/demo1/GameScreen.java
Due: android-build, android-test

added tests the im pretty sure should work but it doesn't
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandChecker.java
  Backend/src/main/java/com/_2_ug_1/cacyno/game/HandComparator.java
  Backend/src/main/java/com/_2_ug_1/cacyno/models/Hand.java
  Backend/src/test/java/com/_2_ug_1/cacyno/HandComparatorTest.java
Due: maven-build, maven-test, autoDeploy

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  autoDeploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android-test: any of: Frontend/**/*
